@import "../variables";
@import "../mediaquery";

// #page-container {
//   position: relative;
//   min-height: 100vh;
// }

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  @include respond-to("tablet") {
    flex-direction: row;
    justify-content: space-between;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 200px;
  width: 95%;
  margin: 20px auto;
  text-align: center;
  border: 1px dashed $main-text;
  @include respond-to("tablet") {
    margin: 80px 0 20px 10px;
    width: 200px;
    &:first-of-type {
      margin: 80px 0 20px 0;
    }
  }
  @include respond-to("desktop") {
    width: 300px;
  }
  .underline.after:hover:after {
    width: 90%;
  }
}

%shared-text {
  font-size: 16px;
  text-align: center;
  @include respond-to("tablet") {
    font-size: 12px;
  }
  @include respond-to("desktop") {
    font-size: 14px;
  }
}

.list-item {
  @extend %shared-text;
  cursor: pointer;
  padding: 20px 15px 0;
  &:first-of-type {
    padding: 0 15px 0;
  }
}

.text-small {
  @extend %shared-text;
  padding: 10px;
  line-height: 150%;
}

.title-small {
  font-size: 20px;
  padding-bottom: 10px;
}

.footer-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  cursor: pointer;
  &:hover {
    animation-name: color-change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

.icon-container {
  padding: 10px 0;

  .icon {
    margin: 0 10px;
    font-size: 18px;
  }
}
