// FONTS

$main-font: "Orbitron", sans-serif;
$secondary-font: "Montserrat", sans-serif;

// COLORS

// Main site colors

$main-bg: #000018;
$main-primary: #40bad5;
$main-secondary: #fcbf1e;
$main-text: #c2cfdf;
$main-icon-primary: invert(84%) sepia(54%) saturate(3966%) hue-rotate(156deg)
  brightness(88%) contrast(88%);
$main-icon-secondary: invert(78%) sepia(44%) saturate(1035%) hue-rotate(342deg)
  brightness(103%) contrast(98%);

// Xbox site colors

$xbox-bg: #050505;
$xbox-primary: #107c10;
$xbox-secondary: #6b6b6b;
$xbox-text: #c2c2c2;
$xbox-icon-primary: invert(36%) sepia(46%) saturate(1448%) hue-rotate(84deg)
  brightness(87%) contrast(93%);
$xbox-icon-secondary: invert(40%) sepia(0%) saturate(84%) hue-rotate(191deg)
  brightness(102%) contrast(89%);

// PS site colors

$ps-bg: #000;
$ps-primary: #fefefe;
$ps-secondary: #003791;
$ps-text: #fefefe;
$ps-icon-primary: invert(100%) sepia(1%) saturate(7465%) hue-rotate(225deg)
  brightness(116%) contrast(99%);
$ps-icon-secondary: invert(14%) sepia(90%) saturate(2402%) hue-rotate(209deg)
  brightness(99%) contrast(105%);

// Nintendo site colors

$nintendo-bg: #eeeded;
$nintendo-primary: #e60012;
$nintendo-secondary: #00c3e3;
$nintendo-text: #414548;
$nintendo-icon-primary: invert(10%) sepia(100%) saturate(7052%)
  hue-rotate(351deg) brightness(87%) contrast(108%);
$nintendo-icon-secondary: invert(78%) sepia(25%) saturate(6464%)
  hue-rotate(140deg) brightness(87%) contrast(105%);
