.user-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .btn-cart {
    display: inline-flex;
    &:hover {
      transform: scale(1.5);
      transition: 0.3s all ease;
    }
    .icon {
      padding: 0 5px 0 10px;
    }
  }
}
