@import "../variables";
@import "../mediaquery";

.nintendo-theme {
  background-color: $nintendo-bg;
  .primary-color {
    color: $nintendo-primary;
  }
  .secondary-color {
    color: $nintendo-secondary;
  }
  .text-color {
    color: $nintendo-text;
  }
  .primary-icon {
    filter: $nintendo-icon-primary;
  }
  .secondary-icon {
    filter: $nintendo-icon-secondary;
  }
  .focus {
    &:focus {
      outline: 1px dotted $nintendo-secondary;
    }
    &-secondary:focus {
      outline: 2px dotted $nintendo-primary;
    }
  }

  .login-form,
  .full-height {
    background-color: $nintendo-bg;
  }
  .btn {
    &-primary {
      border: 1px solid $nintendo-primary;
      &:hover {
        border: 1px solid $nintendo-secondary;
        color: $nintendo-primary;
      }
    }
    &-cart {
      border: none;
      background-color: $nintendo-secondary;
      color: $nintendo-bg;
      &:hover {
        background-color: $nintendo-primary;
        color: $nintendo-bg;
      }
    }
  }
  .input {
    &-primary {
      border: 1px solid $nintendo-primary;
      &::placeholder {
        color: $nintendo-primary;
      }
      &:focus {
        border: 1px dotted $nintendo-secondary;
      }
    }
    &-secondary {
      border: 1px solid $nintendo-secondary;
      &:focus {
        border: 1px dotted $nintendo-primary;
      }
    }
  }
  .nav-link {
    border-bottom: 2px solid $nintendo-secondary;
    @include respond-to("desktop") {
      border-bottom: none;
      &:hover {
        background: linear-gradient(
          to bottom,
          $nintendo-secondary 50%,
          $nintendo-bg 50%
        );
        background-size: 100% 200%;
        background-position: top left;
        transition: all 0.3s ease-out;
        p {
          color: $nintendo-bg;
        }
      }
    }
  }

  .item-border {
    border: 2px solid $nintendo-text;
    background-color: transparent;
  }

  .item-wrapper {
    border: 2px solid $nintendo-secondary;
    background-color: transparent;
  }

  .component-wrapper {
    background: {
      image: $nintendo-brush-bg;
      size: 100% auto;
      position: center 80%;
      repeat: no-repeat;
    }

    @include respond-to("tablet") {
      background-position: center right 70px;
      background-size: auto 100%;
      align-items: center;
    }

    .main-component-img {
      width: 100%;

      @include respond-to("tablet") {
        height: 200px;
        width: auto;
      }

      @include respond-to("desktop-small") {
        height: 300px;
      }

      @include respond-to("desktop") {
        height: 500px;
      }
    }
  }

  .hamburger {
    border: 2px solid $nintendo-secondary;
  }

  #footer {
    border-top: 6px solid $nintendo-secondary;
  }

  .icon:hover {
    animation-name: color-change-nintendo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .link-secondary.before:before,
  .link-secondary.after:after,
  .square:before,
  .square:after,
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after,
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $nintendo-secondary;
  }

  @keyframes color-change-nintendo {
    0% {
      color: $nintendo-secondary;
    }

    50% {
      color: $nintendo-primary;
    }

    100% {
      color: $nintendo-secondary;
    }
  }
}
