@import "../variables";
@import "../mediaquery";

.ps-theme {
  background-color: $ps-bg;
  .primary-color {
    color: $ps-primary;
  }
  .secondary-color {
    color: $ps-secondary;
  }
  .text-color {
    color: $ps-text;
  }
  .primary-icon {
    filter: $ps-icon-primary;
  }
  .secondary-icon {
    filter: $ps-icon-secondary;
  }
  .focus {
    &:focus {
      outline: 1px dotted $ps-secondary;
    }
    &-secondary:focus {
      outline: 2px dotted $ps-primary;
    }
  }

  .login-form,
  .full-height {
    background-color: $ps-bg;
  }
  .btn {
    &-primary {
      border: 1px solid $ps-primary;
      &:hover {
        border: 1px solid $ps-secondary;
        color: $ps-primary;
      }
    }
    &-cart {
      border: none;
      background-color: $ps-secondary;
      color: $ps-bg;
      &:hover {
        background-color: $ps-primary;
        color: $ps-bg;
      }
    }
  }
  .input {
    &-primary {
      border: 1px solid $ps-primary;
      &::placeholder {
        color: $ps-primary;
      }
      &:focus {
        border: 1px dotted $ps-secondary;
      }
    }
    &-secondary {
      border: 1px solid $ps-secondary;
      &:focus {
        border: 1px dotted $ps-primary;
      }
    }
  }
  .nav-link {
    border-bottom: 2px solid $ps-secondary;
    @include respond-to("desktop") {
      border-bottom: none;
      &:hover {
        background: linear-gradient(to bottom, $ps-secondary 50%, $ps-bg 50%);
        background-size: 100% 200%;
        background-position: top left;
        transition: all 0.3s ease-out;
        p {
          color: $ps-bg;
        }
      }
    }
  }

  .all-item-container {
    border: 2px solid $ps-text;
    background-color: transparent;
  }

  .item-wrapper {
    border: 2px solid $ps-secondary;
    background-color: transparent;
  }

  .hamburger {
    border: 2px solid $ps-secondary;
  }

  #footer {
    border-top: 6px solid $ps-secondary;
  }

  .icon:hover {
    animation-name: color-change-ps;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .link-secondary.before:before,
  .link-secondary.after:after,
  .square:before,
  .square:after,
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after,
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $ps-secondary;
  }

  @keyframes color-change-ps {
    0% {
      color: $ps-secondary;
    }

    50% {
      color: $ps-primary;
    }

    100% {
      color: $ps-secondary;
    }
  }
}
